<md-toolbar class="md-hue-2" layout="row" layout-align="space-between center">
    <span>
        <a class="navbar-brand" href="#/participants">
            <img alt="Торгай" src="assets/img/karate-fighter.svg" id="logo">
            <span class="brandText">Карате Турнир</span>
        </a>
    </span>

    <span>
        <span ng-controller="AdminController">
            <md-button onclick="location.href='#/winners';">Победители</md-button>
            <md-button onclick="location.href='#/gamesCurrent';">Текущая пулька</md-button>
            <md-button onclick="location.href='#/games';">Все пульки</md-button>
            <md-button onclick="location.href='#/participants';">Участники</md-button>
            <md-button ng-controller="AdminController" ng-show="admin" onclick="location.href='#/clubs';">Клубы</md-button>
            <md-button onclick="location.href='#/tournaments';">Турниры</md-button>


            <span ng-controller="BasicDemoCtrl as ctrl" ng-show="showLogout">
                <md-menu md-position-mode="target-right bottom" md-offset="0 0">
                    <md-button class="md-icon-button" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
                        <i class="material-icons circle_account">account_circle</i>
                    </md-button>
                    <md-menu-content width="3">
                        <span ng-controller="AdminController">
                            <md-menu-item ng-controller="AdminController" ng-show="admin">
                                <md-button onclick="location.href='#/users';">
                                    <span>Пользователи</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-show="showLogout" ng-controller="LogoutController">
                                <md-button ng-click="logout()">
                                    <span>Выход</span>
                                </md-button>
                            </md-menu-item>
                        </span>
                    </md-menu-content>
                </md-menu>
            </span>
        </span>
    </span>
</md-toolbar>
