<md-toolbar class="md-hue-2" layout="row" layout-align="space-between center">
    <span>
        <a class="navbar-brand" href="#/participants">
            <img alt="Торгай" src="assets/img/karate-fighter.svg" id="logo">
            <span class="brandText">Карате Турнир</span>
        </a>
    </span>

    <span ng-controller="AdminController">
        <md-button onclick="location.href='#/tournaments';">Турниры</md-button>
        <span ng-show="showLogout" ng-controller="LogoutController">
            <md-button ng-click="logout()">
                <span>Выход</span>
            </md-button>
        </span>
        <md-button ng-show="showLogin" onclick="location.href='#/login';">
            <span>Вход</span>
        </md-button>
        <md-button ng-show="showLogin" onclick="location.href='#/register';">
            <span>Регистрация</span>
        </md-button>
    </span>
</md-toolbar>
