
<ng-include src="'partials/header.html'"></ng-include>

<div class="main" style="width:50%;margin-left: 25%;">
    <h2>Все пользователи</h2>

    <div ng-controller="UsersController">
        <md-content>
        <div ui-grid="gridOptions" ui-grid-edit ui-grid-resize-columns ui-grid-selection ui-grid-pagination class="grid ui-grid-selectable">
            <div class="grid-msg-overlay" ng-hide="loadingGridOptions">
                <ng-include src="'partials/progressbar.html'"></ng-include>
            </div>
            <div class="watermark" ng-show="!gridOptions.data.length">Нет данных</div>
        </div>
    </div>
</div>
