<md-dialog aria-label="Изменить" class="myModals" ng-controller="ParticipantsController" style="width:50%;">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Добавление участника</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="closeIcon" md-svg-src="assets/img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-content layout-padding>
                    <div>
                        <form name="userForm">
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Имя</label>
                                    <input required name="caption" ng-model="choosenGood.name">
                                    <div ng-messages="userForm.caption.$error">
                                        <div ng-message="required">Это обязательное поле.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Фамилия</label>
                                    <input required name="caption" ng-model="choosenGood.surname">
                                    <div ng-messages="userForm.caption.$error">
                                        <div ng-message="required">Это обязательное поле.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Отчество</label>
                                    <input ng-model="choosenGood.patronymic">
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Возраст</label>
                                    <input required type="number" name="inPrice" ng-model="choosenGood.age">
                                    <div ng-messages="userForm.inPrice.$error">
                                        <div ng-message="required">Это обязательное поле.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Пол</label>
                                    <md-select ng-model="choosenGood.sex">
                                        <md-option ng-repeat="sex in choosenGood.sexx" value="{{sex}}">
                                            {{sex}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Город</label>
                                    <input required name="caption" ng-model="choosenGood.city">
                                    <div ng-messages="userForm.caption.$error">
                                        <div ng-message="required">Это обязательное поле.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Страна</label>
                                    <input required name="caption" ng-model="choosenGood.country">
                                    <div ng-messages="userForm.caption.$error">
                                        <div ng-message="required">Это обязательное поле.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Клуб</label>
                                    <md-select ng-model="choosenGood.club">
                                        <md-option ng-repeat="club in choosenGood.clubs" value="{{club.id}}">
                                            {{club.name}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="userForm.caption.$error">
                                        <div ng-message="required">Это обязательное поле.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>КЮ</label>
                                    <input required type="number" name="outPrice" ng-model="choosenGood.rating">
                                    <div ng-messages="userForm.outPrice.$error">
                                        <div ng-message="required">Это обязательное поле.</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </form>
                    </div>
                </md-content>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-mini" ng-click="answer('cancel')">
                Отмена
            </md-button>
            <md-button class="md-raised md-primary md-mini" ng-click="answer('add')" ng-disabled="userForm.$invalid">
                ОК
            </md-button>
        </md-dialog-actions>
</md-dialog>
