<md-dialog aria-label="Изменить" class="myModals" ng-controller="ParticipantsController" style="width: 100%;height: 100%;max-width: 100%;max-height: 100%;">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Импортирование участников</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="closeIcon" md-svg-src="assets/img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-content layout-padding>
                    <div>
                        <form name="userForm">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Клуб</label>
                                <md-select ng-model="choosenGood.importClub" name="caption" required>
                                    <md-option ng-repeat="club in choosenGood.clubs" value="{{club.id}}">
                                        {{club.name}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="userForm.caption.$error">
                                    <div ng-message="required">Это обязательное поле.</div>
                                </div>
                            </md-input-container>
                            <button type="button" class="btn btn-success" ng-click="reset()">Сбросить таблицу</button>
                            <br />
                            <br />
                            <div id="grid1" ui-grid="importParticipants" class="grid gridInModal" style="width:98%;height:300px;">
                                <div class="grid-msg-overlay" ng-show="!importParticipants.data.length">
                                    <div class="msg" style="height: 36px;">
                                        <div class="center">
                                            <input type="file" accept=".xls,.xlsx,.ods" fileread="" opts="importParticipants" multiple="false" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </md-content>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-mini" ng-click="answer('cancel')">
                Отмена
            </md-button>
            <md-button class="md-raised md-primary md-mini" ng-click="answer('import')" ng-disabled="userForm.$invalid">
                ОК
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>