<md-dialog aria-label="Просмотр" class="myModals" ng-controller="GamesController">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Просмотр поединка</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="closeIcon" md-svg-src="assets/img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout-gt-sm="row" style="width: 40%;">
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <td>Победитель</td>
                            <td>{{choosenGood.winner}}</td>
                        </tr>
                        <tr>
                            <td>Комментарий</td>
                            <td>{{choosenGood.comment}}</td>
                        </tr>
                        <tr>
                            <td>Весовая категория</td>
                            <td>{{choosenGood.weightCategory}}</td>
                        </tr>
                        <tr>
                            <td>Пулька</td>
                            <td>{{choosenGood.tour}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ИФО</th>
                            <th>Вес</th>
                            <th>Возраст</th>
                            <th>Пол</th>
                            <th>КЮ</th>
                            <th>Город</th>
                            <th>Страна</th>
                            <th>Клуб</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Участник 1</td>
                            <td>{{choosenGood.participantByParticipant1.name}} {{choosenGood.participantByParticipant1.surname}} {{choosenGood.participantByParticipant1.patronymic}}</td>
                            <td>{{choosenGood.participantByParticipant1.weight}}</td>
                            <td>{{choosenGood.participantByParticipant1.age}}</td>
                            <td>{{choosenGood.participantByParticipant1.sex}}</td>
                            <td>{{choosenGood.participantByParticipant1.rating}}</td>
                            <td>{{choosenGood.participantByParticipant1.city}}</td>
                            <td>{{choosenGood.participantByParticipant1.country}}</td>
                            <td>{{choosenGood.participantByParticipant1.club}}</td>
                        </tr>
                        <tr>
                            <td>Участник 2</td>
                            <td>{{choosenGood.participantByParticipant2.name}} {{choosenGood.participantByParticipant2.surname}} {{choosenGood.participantByParticipant2.patronymic}}</td>
                            <td>{{choosenGood.participantByParticipant2.weight}}</td>
                            <td>{{choosenGood.participantByParticipant2.age}}</td>
                            <td>{{choosenGood.participantByParticipant2.sex}}</td>
                            <td>{{choosenGood.participantByParticipant2.rating}}</td>
                            <td>{{choosenGood.participantByParticipant2.city}}</td>
                            <td>{{choosenGood.participantByParticipant2.country}}</td>
                            <td>{{choosenGood.participantByParticipant2.club}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary md-mini" ng-click="answer('')">
                Отмена
            </md-button>
            <md-button class="md-raised md-primary md-mini" ng-click="answer('useful')">
                ОК
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>