<md-dialog aria-label="Смена пароля" ng-controller="ProfileController" class="changePasswordModal">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Смена пароля</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="closeIcon" md-svg-src="assets/img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-content layout-padding>
                    <div>
                        <form name="passwordForm">
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Текущий пароль</label>
                                    <input required name="oldPassword" type="password" ng-model="user.oldPassword">
                                    <div ng-messages="passwordForm.oldPassword.$error">
                                      <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Новый пароль</label>
                                    <input required name="newPassword" id="newPassword" ng-minlength="7" type="password" ng-model="user.newPassword">
                                    <div ng-messages="passwordForm.newPassword.$error">
                                      <div ng-message="required">This is required.</div>
                                      <div ng-message="minlength">Your password length must be more than 7 characters.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Подтверждение</label>
                                    <input required name="confirmNewPassword" id="confirmNewPassword" ng-minlength="7" type="password"
                                    ng-model="user.confirmNewPassword" pw-check="newPassword">
                                    <div ng-messages="passwordForm.confirmNewPassword.$error">
                                      <div ng-message="required">This is required.</div>
                                      <div ng-message="minlength">Your password length must be more than 7 characters.</div>
                                    </div>
                                    <div class="msg-block" ng-show="passwordForm.$error">
                                      <span class="msg-error" ng-show="passwordForm.confirmNewPassword.$error.pwmatch">
                                        Passwords don't match.
                                      </span>
                                    </div>
                                </md-input-container>
                            </div>
                        </form>
                    </div>
                </md-content>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-mini" ng-click="answer('not resetPassword')">
                Отмена
            </md-button>
            <md-button class="md-raised md-primary md-mini" ng-disabled="passwordForm.$invalid" ng-click="answer(user, 'resetPassword')">
                ОК
            </md-button>
        </md-dialog-actions>
</md-dialog>
