<ng-include src="'partials/header.html'"></ng-include>

<div class="main">
    <h2>Профиль</h2>
    <div ng-controller="ProfileController" layout="column" ng-cloak class="md-inline-form">
        <md-content layout-padding>
            <form name="userForm">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Логин</label>
                        <input ng-model="user.login" style="width: 300px;" ng-disabled="true">
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Имя</label>
                        <input required name="userName" ng-model="user.userName" style="width: 300px;" ng-disabled="!enabled">
                        <div ng-messages="userForm.userName.$error">
                          <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Электронный адрес</label>
                        <input required type="email" name="userEmail" ng-model="user.email" style="width: 300px;"
                        ng-disabled="!enabled" ng-pattern="/^.+@.+\..+$/">
                        <div ng-messages="userForm.userEmail.$error" role="alert">
                          <div ng-message-exp="['required', 'pattern']">
                            Your email is invalid.
                          </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Последний вход в систему</label>
                        <input ng-model="convertedDate" style="width: 300px;" ng-disabled="true">
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-button class="md-primary md-raised" ng-click='toggleButton()' ng-disabled="userForm.userName.$invalid">
                        {{toggleText}}
                    </md-button>
                    <md-button class="md-primary md-raised" ng-click="showModal($event)">
                        Сменить пароль
                    </md-button>
                </div>
            </form>
        </md-content>
    </div>
</div>
