body,html{
    height: 100%;
}

#logo{
    height: 44px;
    margin-left: 0px;
    margin-top: -17px;
    float: left;
}

.brandText{
    font-size: 31px;
    color: #ffffff;
}

/* remove outer padding */
.main .row{
    padding: 0px;
    margin: 0px;
}

/* Add gap to nav and right windows.*/
.main{
    padding: 10px 10px 0 10px;
    width:94%;
    margin-left:3%;
}

section{
    padding-left: 15px;
}

.my-header .navbar-brand{
    font-size: 30px;
}

.verticle-content{
    display: block;}

.my-header{
    z-index: 100000;
}

.grid {
    width: 100%;
    height: 500px;
}
.gridSmall {
    width: 100%;
    height: 250px;
}

.gridOptions {
    width: 250px;
    height: 250px;
}

.gridInModal {
    width: 1000px;
    height: 200px;
}

.md-dialog-backdrop {
    z-index: 79;
}

.md-dialog-backdrop ~ .md-dialog-backdrop {
    z-index: 81;
}

.md-dialog-container {
    z-index: 80;
}

.md-dialog-container ~ .md-dialog-container {
    z-index: 82;
}

.searchForm {
    width: 300px;
}

.modalGrid {
  width: 550px;
  height: 250px;
}

.inputdemoErrors .inputErrorsApp {
    min-height: 48px;
}
.inputdemoErrors md-input-container > p {
    font-size: 0.8em;
    text-align: left;
    width: 100%;
}

.storesLabel{
    color: #111111 !important;
    font-size: 20px;
    margin-bottom: -4px;
}

.goodsIconButtons {
    font-size: 16px;
    margin-left: 6px;
    color: #3c8dbc;
    margin-top: 6px;
}

.goodsIconButtons:hover{
    cursor: pointer;
}

.goodsIconButtonsSee{
    margin-left: 6px;
}

.myModals h2, .myModals .closeIcon{
    color: #ffffff;
}

.myModals .table-borderless tbody tr td,
.myModals .table-borderless tbody tr th,
.myModals .table-borderless thead tr th,
.myModals .table-borderless thead tr td,
.myModals .table-borderless tfoot tr th,
.myModals .table-borderless tfoot tr td {
    border: none;
}

.changePasswordModal {
  width: 500px;
  height: 500px;
}

.msg-block {
    margin-top:5px;
}
.msg-error {
    color:#F00;
    font-size:14px;
}

.datePicker{
    margin-top: 14px;
    margin-right: 2px;
    margin-left: -114px;
}
.labelDatePicker{
    z-index: 10000;
    margin-right: -18px;
    margin-left: 50px;
}

.not-active {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

.btn-primary{
    margin-right: 10px;
}

.container{
    margin: 20px 0;
}

.addNewGoodModal {
    min-height: 90%;
}

.intermediateWindow {
    min-height: 50%;
    min-width: 50%;
}

#panelBody {
    height: 550px;
    overflow-x: hidden;
}

#tableToAdd {
    display: block;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.goodsTable th, td {
    width: 10%;
}

.addButton {
    position: relative;
    bottom: 10px;
    left: 10px;
}

.clearButton {
    position: relative;
    top: 85px;
    right: 5px;
}

.selected {
    background-color: #F9F9F9;
}

.material-icons.circle_account{
    font-size: 42px;
    margin-top: -10px;
    margin-left: -9px;
}

.md-open-menu-container{
    top: 64px !important;
    /*left: calc(100% - 192px) !important;*/
}

.submenuIcons{
    font-size: 31px !important;
    position: absolute;
    top: 8px;
}
.submenuIcons2{
    font-size: 26px !important;
    position: absolute;
    top: 9px;
    margin-left: 3px;
}

.submenuIcons1{
    font-size: 22px !important;
    margin-left: 7px;
    position: absolute !important;
    top: 11px !important;
}

md-menu-content{
    background-color: #0277BD !important;
    color: #ffffff;
}

.submenuText{
    margin-left: 38px;
}

.remainsTable tr, td, input {
    width: 300px;
}

@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,700);
[data-notify="container"][class*="alert-pastel-"] {
    background-color: rgb(255, 255, 238);
    border-width: 0px;
    border-left: 15px solid rgb(255, 240, 106);
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.3);
    font-family: 'Old Standard TT', serif;
    letter-spacing: 1px;
}
[data-notify="container"].alert-pastel-info {
    border-left-color: rgb(255, 179, 40);
}
[data-notify="container"].alert-pastel-danger {
    border-left-color: rgb(255, 103, 76);
}
[data-notify="container"][class*="alert-pastel-"] > [data-notify="title"] {
    color: rgb(80, 80, 57);
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}
[data-notify="container"][class*="alert-pastel-"] > [data-notify="message"] {
    font-weight: 400;
}

.storeBtn:hover{
    cursor: pointer;
}
.md-datepicker-button {
    display: none !important;
}

.md-datepicker-input-container{
    width: 183px !important;
}

.ui-grid-selectable .ui-grid-disable-selection {
    -webkit-touch-callout: default;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor:auto;
}

.md-btn-success{
    color: #fff !important;
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
}

.grid-msg-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.grid-msg-overlay .msg {
    opacity: 1;
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 50%;
    background-color: #eee;
    border-radius: 4px;
    border: 1px solid #555;
    text-align: center;
    font-size: 24px;
    display: table;
}

.grid-msg-overlay .msg span {
    display: table-cell;
    vertical-align: middle;
}

.watermark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.25;
    width: 100%;
    text-align: center;
    z-index: 1000;
    font-size: 3em;
}
