<ng-include src="'partials/header.html'"></ng-include>

<div class="main">
    <h2>Админ</h2>

    <div ng-controller="AdminController">
        <md-content>
            <div layout="row">
                <div layout="row" layout-sm="column" layout-align="end center" layout-wrap>
                    <md-button class="md-raised md-primary" ng-click="showConfirm($event)">
                        Удалить ненужные данные
                    </md-button>
                </div>
            </div>
        </md-content>
    </div>
</div>
