<md-dialog aria-label="Просмотр" class="myModals" ng-controller="TournamentsController">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Просмотр товара</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="closeIcon" md-svg-src="assets/img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <table class="table table-borderless">
                    <tbody>
                    <tr>
                        <td>Название товара</td>
                        <td>{{choosenGood.goodCaption}}</td>
                    </tr>
                    <tr>
                        <td>Штрих-код</td>
                        <td>{{choosenGood.barcode}}</td>
                    </tr>
                    <tr>
                        <td>Короткий код</td>
                        <td>{{choosenGood.shortcode}}</td>
                    </tr>
                    <tr>
                        <td>Цена покупки</td>
                        <td>{{choosenGood.inPrice}}</td>
                    </tr>
                    <tr>
                        <td>Цена продажи</td>
                        <td>{{choosenGood.outPrice}}</td>
                    </tr>
                    <tr>
                        <td>Наценка</td>
                        <td>{{choosenGood.markup}}</td>
                    </tr>
                    <tr>
                        <td>Единица</td>
                        <td>{{choosenGood.measure}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary md-mini" ng-click="answer('editFromDisplay')">
                Изменить
            </md-button>
            <md-button class="md-raised md-primary md-mini" ng-click="answer('useful')">
                ОК
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>