
<ng-include src="'partials/header-login.html'"></ng-include>

<div class="main" style="width:50%;margin-left: 25%;">
    <h2>Турниры</h2>

    <div ng-controller="TournamentsController">
        <md-content>
            <div layout="row">
                <div layout="row" layout-sm="column" layout-align="end center" layout-wrap>
                    <md-button class="md-raised md-success md-btn-success" ng-show="checkRole"
                               ng-click="addGood()">Новый турнир</md-button>
                    <md-button ng-disabled="checker" class="md-primary md-raised" ng-disabled="checker" ng-click="chooseTournament()">
                        Выбрать
                    </md-button>
                    <span flex></span>
                </div>
                <span flex></span>
                <div layout="row" layout-sm="column" layout-align="end center" layout-wrap>
                    <md-button class="md-primary md-raised" ng-show="checkRole" ng-disabled="checkerArchieve" ng-click="archieveTournament()">
                        Заархивировать
                    </md-button>
                    <md-button class="md-primary md-raised" ng-show="checkRole" ng-disabled="checkerStart" ng-click="startTournament()">
                        Начать
                    </md-button>
                </div>
            </div>
        </md-content>

        <div ui-grid="gridOptions" ui-grid-resize-columns ui-grid-selection ui-grid-pagination class="grid ui-grid-selectable">
            <div class="grid-msg-overlay" ng-hide="loadingGridOptions">
                <ng-include src="'partials/progressbar.html'"></ng-include>
            </div>
            <div class="watermark" ng-show="!gridOptions.data.length">Нет данных</div>
        </div>
    </div>
</div>
