<ng-include src="'partials/header-login.html'"></ng-include>
<div ng-show="error" class="alert alert-danger">{{error}}</div>
<div class="container" ng-submit="Register()" style="margin-top:20px">
    <div class="col-md-4" style="margin-left:33.33333333%;">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><strong>Регистрация</strong></h3></div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label for="username">Имя</label>
                        <input type="text" id="name" class="form-control" ng-model="name">
                        <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">Name is required</span>
                    </div>
                    <div class="form-group">
                        <label for="username">Фамилия</label>
                        <input type="text" id="surname" class="form-control" ng-model="surname">
                        <span ng-show="form.surname.$dirty && form.surname.$error.required" class="help-block">Surname is required</span>
                    </div>
                    <div class="form-group">
                        <label for="username">Логин</label>
                        <input type="text" id="username" class="form-control" ng-model="username">
                        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input type="password" class="form-control" id="password" ng-model="password" ng-keydown="$event.which === 13 && login()" required>
                        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success">Регистрация</button>
                        <a href="#/login">Войти</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
