<md-dialog aria-label="Изменить" class="myModals" ng-controller="ClubsController" style="width:50%;">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Добавление нового клуба</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="closeIcon" md-svg-src="assets/img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-content layout-padding>
                    <div>
                        <form name="userForm">
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Название клуба</label>
                                    <input required name="caption" ng-model="addingGood.name">
                                    <div ng-messages="userForm.caption.$error">
                                      <div ng-message="required">Это обязательное поле.</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </form>
                    </div>
                </md-content>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-mini" ng-click="answer('cancel')">
                Отмена
            </md-button>
            <md-button class="md-raised md-primary md-mini" ng-click="answer('add')" ng-disabled="userForm.$invalid">
                ОК
            </md-button>
        </md-dialog-actions>
</md-dialog>
