
<ng-include src="'partials/header.html'"></ng-include>

<div class="main">
    <h2>Клубы</h2>

    <div ng-controller="ClubsController">
        <md-content>
            <div layout="row">
                <div layout="row" layout-sm="column" layout-align="end center" layout-wrap>
                    <md-button class="md-raised md-success md-btn-success"
                    ng-click="addGood()">Добавить новый клуб</md-button>
                </div>
            </div>
        </md-content>

        <div ui-grid="gridOptions" ui-grid-resize-columns ui-grid-selection ui-grid-pagination class="grid ui-grid-selectable">
            <div class="grid-msg-overlay" ng-hide="loadingGridOptions">
                <ng-include src="'partials/progressbar.html'"></ng-include>
            </div>
            <div class="watermark" ng-show="!gridOptions.data.length">Нет данных</div>
        </div>
    </div>
</div>
