
<ng-include src="'partials/header.html'"></ng-include>

<div class="main">
    <h2>Турнир "{{storeName}}" - Текущая пулька</h2>

    <div ng-controller="GamesCurrentController">
        <md-content>
            <div layout="row">
                <div layout="row" layout-sm="column" layout-align="end center" layout-wrap>
                    <md-button class="md-raised md-primary" ng-disabled="checkStatus" ng-show="judge"
                    ng-click="finishTour()">Закончить пульку</md-button>
                </div>
            </div>
        </md-content>

        <div ui-grid="gridOptions" ui-grid-edit ui-grid-exporter ui-grid-selection ui-grid-pagination class="grid ui-grid-selectable">
            <div class="grid-msg-overlay" ng-hide="loadingGridOptions">
                <ng-include src="'partials/progressbar.html'"></ng-include>
            </div>
            <div class="watermark" ng-show="!gridOptions.data.length">Турнир закончен!</div>
        </div>
    </div>
</div>
