<md-dialog aria-label="Просмотр" class="myModals" ng-controller="WinnersController">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Просмотр участника</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="closeIcon" md-svg-src="assets/img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <table class="table table-borderless">
                    <tbody>
                    <tr>
                        <td>Имя</td>
                        <td>{{choosenGood.name}}</td>
                    </tr>
                    <tr>
                        <td>Фамилия</td>
                        <td>{{choosenGood.surname}}</td>
                    </tr>
                    <tr>
                        <td>Отчество</td>
                        <td>{{choosenGood.patronymic}}</td>
                    </tr>
                    <tr>
                        <td>Возраст</td>
                        <td>{{choosenGood.age}}</td>
                    </tr>
                    <tr>
                        <td>Пол</td>
                        <td>{{choosenGood.sex}}</td>
                    </tr>
                    <tr>
                        <td>Город</td>
                        <td>{{choosenGood.city}}</td>
                    </tr>
                    <tr>
                        <td>Страна</td>
                        <td>{{choosenGood.country}}</td>
                    </tr>
                    <tr>
                        <td>КЮ</td>
                        <td>{{choosenGood.rating}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary md-mini" ng-click="answer('')">
                Отмена
            </md-button>
            <md-button class="md-raised md-primary md-mini" ng-click="answer('useful')">
                ОК
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>