
<ng-include src="'partials/header.html'"></ng-include>

<div class="main">
    <h2>Турнир "{{storeName}}" - Победители</h2>

    <div ng-controller="WinnersController">
        <div ui-grid="gridOptions" ui-grid-edit ui-grid-exporter ui-grid-selection ui-grid-pagination class="grid ui-grid-selectable">
            <div class="grid-msg-overlay" ng-hide="loadingGridOptions">
                <ng-include src="'partials/progressbar.html'"></ng-include>
            </div>
            <div class="watermark" ng-show="!gridOptions.data.length">Нет данных</div>
        </div>
    </div>
</div>
